<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<title>templates</title>
</head>
<body>
<header th:fragment="header">
	<h1><a th:href="@{'/'}">@掲示板</a></h1>
</header>
<footer th:fragment="footer">
	<span>Copyright &#064; 2022 kouki.umezu Inc. All rights reserved.</span>
</footer>

</body>
</html>