<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規投稿画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:replace="common :: header"></div>
	<form method="post" action="/add" th:object="${formModel}"
		class="send-message">
		<table border="1">
			<tr>
				<th>投稿内容</th>
				<td><input type="text" name="content" th:value="*{content}"
					size="20" maxlength="200" /></td>
			</tr>
		</table>
		<input type="submit" class="message" value="投稿" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
	<div th:replace="common :: footer"></div>
</body>
</html>