<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:replace="common :: header"></div>
	<div th:if="${!errorMessage.isEmpty()}">
	<span class="error" th:text="${errorMessage[0]}"></span>
	</div>
	<a href="/new"><button type="button">新規投稿</button> </a>

	<div class="filter">
		<form th:action="@{/}" th:method="get">
			<span>日付</span> <input type="date" name="startDate" class="date"
				th:value=" *{startDate}" /><span>～</span> <input type="date"
				name="endDate" class="date" th:value="*{endDate}" /> <input
				type="submit" value="絞込">
		</form>
	</div>

	<div>
		<div>
			<th>ID</th>
			<th>内容</th>
		</div>
		<div th:each="content : ${contents}">
			<span th:text="${content.id}"></span> <span
				th:text="${content.content}"></span>
			<div>
				<form action="/delete" method="post" class="delete">
					<input type="hidden" th:value="${content.id}" name="contentId" />
					<input type="submit" value="削除" />
				</form>
			</div>
			<div>
				<form action="/edit" method="get">
					<input type="hidden" th:value="${content.id}" name="contentId" />
					<input type="submit" value="編集" />
				</form>
			</div>
			<div>
				<a th:href="@{/comment/{id}(id=${content.id})}">
					<button type="button">コメントする</button>
				</a>
			</div>
			<div th:each="comment : ${comments}">
				<div th:if="${comment.messageId == content.id}">
					<span>コメント</span> <span th:text="${comment.content}"></span>
					<div>
						<form th:action="@{/comment/edit/{id}(id=${comment.id})}"
							th:method="get">
							<input type="submit" value="コメントを編集">
						</form>
					</div>
					<div>
						<form th:action="@{/comment/delete/{id}(id=${comment.id})}"
							th:method="delete" class="delete">
							<input type="submit" value="コメントを削除">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common :: footer"></div>
</body>
</html>